.container {
  overflow: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  max-width: 1920px;
  margin: 0 auto;
  padding-left: 5rem;
  padding-right: 5rem;
}

.container::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 20px;
  }
}
